.contact {
    
   
}
.contactItem {
border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
    .contactItem {
        max-width: 288px;
    }
}